<header class="header">
    <div class="header__logo">   
        <img src="assets/images/site.png" alt="">
        <h1 class="header__title">Костанайская районная централизованная библиотечная система</h1>

    </div>
    <div class="header__languages">
        <a href="#">KZ</a>
        <a href="#" class="active">RU</a>
    </div>
        <form  class="search" method="/" action="search">
            <input class="search__input" type="text" name="" id="" placeholder="Поиск">
            <input class="search__btn" type="submit">
        </form>
</header>
