<div class="sec-panel">
  <a href="" class="sec-panel__item">
    <img src="assets/images/indepense.jpg" alt="НЕЗАВИСИМОСТЬ ПРЕВЫШЕ ВСЕГО">
    <span>НЕЗАВИСИМОСТЬ ПРЕВЫШЕ ВСЕГО</span>
  </a>
  
  <a href="" class="sec-panel__item">
    <img src="assets/images/175.jpg" alt="Абай и Казахстан в XXI веке">
    <span>Абай и Казахстан в XXI веке</span>
  </a>
  <a href="" class="sec-panel__item">
    <img src="assets/images/7_graney.jpg" alt="Статья Главы государства «Семь граней Великой степи»">
    <span>Статья Главы государства «Семь граней Великой степи»</span>
  </a>
  <a href="" class="sec-panel__item">
    <img src="assets/images/el.jpg" alt="Послание Президента Республики Казахстан народу Казахстана">
    <span>Послание Президента Республики Казахстан народу Казахстана</span>
  </a>
  <a href="" class="sec-panel__item">
    <img src="assets/images/201603311.png" alt="Государственные символы">
    <span>Государственные символы</span>
  </a>
  <a href="" class="sec-panel__item">
    <img src="assets/images/aphisha.jpg" alt="Афиши мерроприятий библиотек области">
    <span>Афиши мерроприятий библиотек области</span>
  </a>
</div>