<aside class="sidebar">
    <div class="sidebar__content">
        <nav class="nav">
            <ul class="nav__list">
              <li class="nav__item">
                  <a href="index.html" class="nav__link">ГЛАВНАЯ</a>
              </li>
                <li class="nav__item">
                    <a href="history.html" class="nav__link has-subnav">О БИБЛИОТЕКЕ</a>
                    <ul class="subnav">
                        <li>
                            <a href="work__time.html" class="subnav__link">РЕЖИМ РАБОТЫ</a>
                        </li>
                        <li>
                            <a href="contact.html" class="subnav__link">КОНТАКТЫ</a>
                        </li>
                    </ul>
                </li>
                <li class="nav__item">
                    <a href="events.html" class="nav__link has-subnav">МЕРОПРИЯТИЯ</a>
                    <ul class="subnav">
                      <li>
                          <a href="ruhani.html" class="subnav__link">РУХАНИ ЖАҢҒЫРУ</a>
                      </li>
                      <li>
                          <a href="online.html" class="subnav__link">Онлайн мероприятия</a>
                      </li>
                    </ul>
                </li>
                <li class="nav__item">
                    <a href="idea-bank.html" class="nav__link has-subnav">БАНК ИДЕЙ</a>
                    <ul class="subnav">
                      <li>
                          <a href="proekts.html" class="subnav__link">БИБЛИОТЕЧНЫЕ ПРОЕКТЫ</a>
                      </li>
                      <li>
                          <a href="" class="subnav__link">КНИЖНЫЕ ВЫСТАВКИ</a>
                      </li>
                      <li>
                          <a href="" class="subnav__link">МАССОВАЯ РАБОТА</a>
                      </li>
                      <li>
                          <a href="" class="subnav__link">ПОПУЛЯРИЗАЦИЯ ПРОФЕССИИ БИБЛИОТЕКАРЯ И БИБЛИОТЕКИ</a>
                      </li>
                    </ul>
                </li>
                <li class="nav__item">
                    <a href="native-land.html" class="nav__link has-subnav">МОЙ РОДНОЙ КРАЙ</a>
                    <ul class="subnav">
                      <li>
                          <a href="" class="subnav__link">ЗАТОБОЛЬСК</a>
                      </li>
                      <li>
                          <a href="" class="subnav__link">ИЗВЕСТНЫЕ ЛИЧНОСТИ КОСТАНАЙСКОГО РАЙОНА</a>
                      </li>
                      <li>
                          <a href="" class="subnav__link">ИСТОРИЯ БИБЛИОТЕК КОСТАНАЙСКОГО РАЙОНА</a>
                      </li>
                      <li>
                          <a href="" class="subnav__link">ИСТОРИЯ КОСТАНАЙСКОГО РАЙОНА</a>
                      </li>
                    </ul>
                </li>
                <li class="nav__item">
                    <a href="publish.html" class="nav__link has-subnav">ИЗДАТЕЛЬСКАЯ ДЕЯТЕЛЬНОСТЬ</a>
                    <ul class="subnav">
                        <li>
                            <a href="" class="subnav__link">РАЙОННОЙ
                              БИБЛИОТЕКИ</a>
                        </li>
                        <li>
                            <a href="" class="subnav__link">СЕЛЬСКИХ
                              БИБЛИОТЕК</a>
                        </li>
                    </ul>
                </li>
                <li class="nav__item">
                    <a href="" class="nav__link">СЕЛЬСКИЕ БИБЛИОТЕКИ</a>
                </li>
                <li class="nav__item">
                    <a href="" class="nav__link">ОДНА СТРАНА - ОДНА КНИГА</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="sidebar__footer"></div>

</aside> 