.pagination{
	display: flex;
	justify-content: center;
	margin-top: 8rem;
  list-style: none;
}

.pagination__item{
	margin: 0 .5rem;
}
.pagination__link{
	display: block;
	width: 4rem;
	height: 4rem;
	background-color: $dark-green;
	border-radius: 3px;
	box-shadow: 0 0 10 rgba($dark-green, .15);

	line-height: 4rem;
	font-size: 1.4rem;
	color: $white;
	text-align: center;
	text-decoration: none;

	transition: background-color .2s linear;
	&:hover{
		background-color: lighten(#0D0D0D, 15%);
	}
	&.active{
		background-color: $green;

		&:hover{
			background-color: lighten($green, 5%);

		}

	}
}